---
layout: default
title: Home
---
<!-- Homepage feature -->
<div class="home">
  <section class="home-feature">
    <header class="page-header no-margin">
      <div class="mask"></div>
      <img src="{{ 'home' | append: '.jpg' | prepend: '/images/featured/' | prepend: site.baseurl }}" alt="{{ page.title | append: ' featured image' }}" class="page-hero" />
      <img src="{{ 'home' | append: '-tn.jpg' | prepend: '/images/featured/' | prepend: site.baseurl }}" alt="{{ page.title | append: ' featured image' }}" class="mobile-hero" />
      <div class="text-box">
        <p>{{ site.description }}</p>

        <nav class="menu">
          <a href="{{ '/' | prepend: site.baseurl }}" class="nav-title {% if site.title.size > 9 %}long-title{% endif %}"><h1>{{ site.title }}</h1></a>
          {% for link in site.data.nav-links %}
            <a class="nav-link" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
          {% endfor %}
          <div class="nav-border"></div>
        </nav>
      </div>
    </header>
  </section><!-- End homepage feature -->
  <!-- Homepage meetings section -->
  <section id="homepage-meetings">
    <ul class="meetings-list">
      <h2 class="meetings-header">Important Dates</h2>
      {% for date in site.data.dates %}
      <li>
        <h2>{{ date.title }}</h2>
        <p>
          {{ date.dates }}<br/>
          {{ date.location }}
        </p>
      </li>
      {% endfor %}
    </ul>
  </section><!-- End homepage meetings section -->
</div>
