---
layout: default
title: News
---
<h1 class="page-heading">News</h1>
<!-- Blog / news index -->
<ul class="post-list">
  {% for post in paginator.posts %}
  <li>
    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
    <span class="post-meta">&nbsp;|&nbsp;</span>
    <span class="post-meta">{{ post.content | number_of_words | divided_by: 160 | floor | append: ' minute read' }}</span>

    <h2>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>

    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
      <p>{{ post.excerpt | truncatewords: 30 }}</p>
    </a>

    <a href="{{ post.url | prepend: site.baseurl }}" class="index-button">read on...</a>
  </li>
  {% endfor %}
</ul><!-- End blog / news index -->
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="paginate-link active previous" title="Previous Page">PREV</a>
  {% else %}
    <span class="paginate-link previous">PREV</span>
  {% endif %}
  <span class="page_number ">{{ paginator.page }} / {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="paginate-link active next" title="Next Page">NEXT</a>
  {% else %}
    <span class="paginate-link next">NEXT</span>
  {% endif %}
</div><!-- End pagination -->

<!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
